@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The team of the hotel <i/>"HOTEL COMFORT"<i/> is glad to welcome you to one of the best hotels in Kharkov. 
    Our hotel has adopted the highest standards of service and hospitality. 
    We strive to create the most comfortable conditions for guests' stay in our hotel. 
    A corner of pleasure and comfort awaits you in the center of Kharkov.
    Our goal is to create a hotel with the highest level of service to maximize the satisfaction of the needs and desires of our Guests.
</p>
