@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    We are located on Pushkin Street
    Kolotushkin house
    <br />
    Kharkiv city
    <br />
    <abbr title="Phone">Phone:</abbr>
    +380 033 33 33
</address>