@{ ViewBag.Title = "Home Page"; }


<body background="https://i.pinimg.com/originals/25/52/c9/2552c9be5d0a93fe1128d3fb7a4a6a2c.jpg">
    <div class="row">
        <div class="col-md-4 fa-border"
             style="background-color: burlywood; border-width:0.8em;border-right-color:burlywood;border-left-color:burlywood; border-top-color:burlywood;border-block-end-color:burlywood">
            <h2>Getting started</h2>
            <i>
                Create Account in a few simple steps and become eligible to book the best rooms.
            </i>
            <p>@Html.ActionLink("Get Started", "Register", "Account")</p><br />
        </div>
        <div class="col-md-4 fa-border"
             style="background-color:navajowhite; border-width:0.8em; border-right-color:navajowhite;border-left-color:navajowhite;border-top-color:navajowhite;border-block-end-color:navajowhite">
            <h2>Book Available Rooms</h2>
            <i>Only available rooms can be booked. Click to secure a room for your self and experience the best of luxuries.</i>
            <p>@Html.ActionLink("Am Interested!", "Create", "Stay")</p><br />
        </div>
    </div>  
</body>









